body {
  background: #F7F6F5;
  letter-spacing: 0;
}

body.has-nu-global-header-footer.has-local-header > main {
  margin-top: 48px;

}

header.header > .container {
  @media screen and (max-width: 640px) {
    height: 62px;
  }

}

body.has-nu-global-header-footer header.header  {
  background-color: transparent;
  box-shadow: inherit;
  transition: background-color .2s linear;
  &.active {
    background-color: rgba(255,255,255,.99);
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  }
}

header.active a.logo.logo--image svg {
  path {
    fill: #000;
  }
}


div.mills-body {
  // max-width:70%;
  max-width:68%;
  width:100%;
  // background: rgba(255,255,255,1.0);
  margin-top:0 !important;
  transform: translate(0,-200px);
  position: relative;
  z-index: 100;
  padding-left:0 !important;
  padding-right:0 !important;
  @media screen and (max-width: 1024px) {
    max-width:59%;
  }
  @media screen and (max-width: 781px) {
    max-width:90%;
  }
  h1 {
    font-size: 60px;
    line-height: 60px;
    margin-top: 66px;
    @media screen and (max-width: 1280px) {
      font-size: 50px;
      line-height: inherit;
    }
    @media screen and (max-width: 960px) {
      font-size: 42px;
    }

  }
  p {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: #404040;

  }
  figure.wp-block-pullquote {
    padding:0;
    margin:44px 0;
    blockquote {

      max-width:100%;
      margin: 0 0 0 32px;
      p {
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        color: #2D2926;
        padding-left:32px;
      }
      cite {
      padding-left:32px;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #545454;
      text-transform: inherit;
      @media screen and (max-width: 640px) {
        padding-left:0;
      }

      }
    }
  }
}

.wp-block-pullquote blockquote > :first-child:not(.wp-block-pullquote__citation)::before {
  left:0;
}

div.wp-block-cover__inner-container {
  max-width: 90%  !important;

}


a.wp-block-button__link {
  margin-top:33px;
  margin-bottom: 70px;
  &:hover,
  &:focus {
    background-color:transparent !important ;
    color: #b01a1b !important;
    border-color: #b01a1b;
  }
}

div.wp-block-columns {
  &.mills_inner-container {
    @media screen and (max-width: 640px) {
      margin-bottom: 28vw;
    }


    & > div.wp-block-column {
      &:nth-child(2){
        @media screen and (max-width: 1024px) {
          flex-basis: 65% !important;
        }
      }
    }

  }
}

.hero-logo_left {
  figure {
    @media screen and (max-width: 781px) {
      margin-left:0 !important;
    }
  }
}
.hero-logo_right {
  figure {
    @media screen and (max-width: 781px) {
      float: right !important;
    }
  }
}

div.wp-block-cover.alignfull.has-background-dim {
  @media screen and (max-width: 640px) {
    min-height:600px !important;
  }
}

// .hero-logo_left {
//   img {
//     min-width: 155px;
//   }
// }
// .hero-logo_right {
//   img {
//     min-width: 137px;
//   }
// }
