body {
  background: #F7F6F5;
}

body.has-nu-global-header-footer.has-local-header > main {
  margin-top: 48px;

}

body.has-nu-global-header-footer header.header  {
  background-color: transparent;
  box-shadow: inherit;
  transition: background-color .2s linear;
  &.active {
    background-color: rgba(255,255,255,.99);
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  }
}

header.active a.logo.logo--image svg {
  path {
    fill: #000;
  }
}



div.mills-body {
  max-width:70%;
  width:100%;
  // background: rgba(255,255,255,1.0);
  margin-top:0 !important;
  transform: translate(0,-200px);
  position: relative;
  z-index: 100;
  h1 {
    font-size: 60px;
    line-height: 60px;
  }
  p {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: #404040;
  }
  figure.wp-block-pullquote {
    blockquote {

      max-width:100%;
      margin: 0 0 0 32px;
      p {
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        color: #2D2926;
        padding-left:32px;
      }
      cite {
      padding-left:32px;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #545454;
      text-transform: inherit;

      }
    }
  }
}

.wp-block-pullquote blockquote > :first-child:not(.wp-block-pullquote__citation)::before {
  left:0;
}

div.wp-block-cover__inner-container {
  max-width: 90%  !important;
}


a.wp-block-button__link {
  &:hover,
  &:focus {
    background-color:transparent !important ;
    color: #b01a1b !important;
    border-color: #b01a1b;
  }
}
